.venv
.vscode
.python-version
.DS_Store
.env
raw_data/*/*
my_docs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/

# Airflow
airflow/airflow.db*
airflow/logs/
airflow/simple_auth_manager_passwords.json.generated